/* Sayfa genel stili */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body stili */
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    transition: background-image 3s ease-in-out; /* Geçiş efekti */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: changeBackground 40s infinite;
}

@keyframes changeBackground {
    0% {
        background-image: url('Images8.jpg'); /* İlk duvar kağıdı */
    }

    20% {
        background-image: url('Images7.jpg'); /* İkinci duvar kağıdı */
    }

    40% {
        background-image: url('Images3.jpg'); /* Üçüncü duvar kağıdı */
    }

    60% {
        background-image: url('Images4.jpg'); /* Dörndüncü duvar kağıdı */
    }

    80% {
        background-image: url('Images2.jpg'); /* Beşinci duvar kağıdı */
    }

    100% {
        background-image: url('Images6.jpg'); /* İlk duvar kağıdına geri dönüş */
    }
}



/* Login container'ı merkezler ve stil verir */
.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}
/* Input alanlarının stilini ayarlama */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

    .input-group label {
        display: block;
        margin-bottom: 5px;
        color: #333;
    }

    .input-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
    }
/* Buton stilini ayarlama */
.button-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

    .button-group button:hover {
        background-color: #45a049;
    }
/* Kayıt linki stili */
.signup-link {
    margin-top: 15px;
}

    .signup-link a {
        text-decoration: none;
        color: #4CAF50;
    }

        .signup-link a:hover {
            text-decoration: underline;
        }
